server/generated/wsdl/ImagedataService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://schema.df-root.com/imagedata" name="ImagedataService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://schema.df-root.com/imagedata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://schema.df-root.com/imagedata" schemaLocation="ImagedataService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getImageInfo">
    <part name="parameters" element="tns:getImageInfo"/>
  </message>
  <message name="getImageInfoResponse">
    <part name="parameters" element="tns:getImageInfoResponse"/>
  </message>
  <message name="NoSuchFlickerIdException">
    <part name="fault" element="tns:NoSuchFlickerIdException"/>
  </message>
  <message name="AmbiguousFlickerIdException">
    <part name="fault" element="tns:AmbiguousFlickerIdException"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="getImage">
    <part name="parameters" element="tns:getImage"/>
  </message>
  <message name="getImageResponse">
    <part name="parameters" element="tns:getImageResponse"/>
  </message>
  <message name="NoSuchImageException">
    <part name="fault" element="tns:NoSuchImageException"/>
  </message>
  <message name="XMLDatabaseException">
    <part name="fault" element="tns:XMLDatabaseException"/>
  </message>
  <portType name="ImagedataService">
    <operation name="getImageInfo">
      <input wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImageInfoRequest" message="tns:getImageInfo"/>
      <output wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImageInfoResponse" message="tns:getImageInfoResponse"/>
      <fault message="tns:NoSuchFlickerIdException" name="NoSuchFlickerIdException" wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImageInfo/Fault/NoSuchFlickerIdException"/>
      <fault message="tns:AmbiguousFlickerIdException" name="AmbiguousFlickerIdException" wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImageInfo/Fault/AmbiguousFlickerIdException"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImageInfo/Fault/IOException"/>
    </operation>
    <operation name="getImage">
      <input wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImageRequest" message="tns:getImage"/>
      <output wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImageResponse" message="tns:getImageResponse"/>
      <fault message="tns:NoSuchImageException" name="NoSuchImageException" wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImage/Fault/NoSuchImageException"/>
      <fault message="tns:XMLDatabaseException" name="XMLDatabaseException" wsam:Action="http://schema.df-root.com/imagedata/ImagedataService/getImage/Fault/XMLDatabaseException"/>
    </operation>
  </portType>
  <binding name="ImagedataServicePortBinding" type="tns:ImagedataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getImageInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoSuchFlickerIdException">
        <soap:fault name="NoSuchFlickerIdException" use="literal"/>
      </fault>
      <fault name="AmbiguousFlickerIdException">
        <soap:fault name="AmbiguousFlickerIdException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="getImage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoSuchImageException">
        <soap:fault name="NoSuchImageException" use="literal"/>
      </fault>
      <fault name="XMLDatabaseException">
        <soap:fault name="XMLDatabaseException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ImagedataService">
    <port name="ImagedataServicePort" binding="tns:ImagedataServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

